@model Oblig2_Blogg.Models.ViewModels.PostViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<h1>CreatePost</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostText" class="control-label">Post Text</label>
                <input asp-for="PostText" class="form-control" />
                <span asp-validation-for="PostText" class="text-danger"></span>
            </div>
            <div class="form-group" id="listOfTags">
                <input asp-for="BlogId" type="hidden" class="form-control" />
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>

   



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Blog" , asp-action="Index">Back to List</a>
    @Html.ActionLink("Gå tilbake til innlegg", "ReadBlogPosts", "Blog", new { id = Model.BlogId })
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
