@model Oblig2_Blogg.Models.ViewModels.PostViewModel

@{
    ViewData["Title"] = "EditPost";
}

<h1>EditPost</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="PostId" />

            <div class="form-group">
                <label asp-for="PostText" class="control-label"></label>
                <input asp-for="PostText" class="form-control" />
                <span asp-validation-for="PostText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Created" type="hidden" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="PostId" type="hidden" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="BlogId" type="hidden" class="form-control" />
                <span asp-validation-for="BlogId" class="text-danger"></span>
            </div>
            
            @if (Model.Tags.Count != 0)
            {
                <label asp-for="Tags" class="control-label">Choose tags:</label>
                @foreach (var item in Model.Tags)
                {
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedTags"
                                   value="@item.TagId"
                                   @if(Model.SelectedTags.Contains(item.TagLabel))
                                   {
                                       <text> checked </text> 
                                   } 
                            /> @item.TagLabel
                        </label>
                    </div>
                }
            }

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Blog" , asp-action="Index">Back to List </a> | 
    @Html.ActionLink(" Gå tilbake til innlegg", "ReadBlogPosts", "Blog", new { id = Model.BlogId })
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
